*{
    margin:0px; 
    background-color: grey;
}

.container{
    display:grid;
}

.navbar{
    list-style-type: none;
    display: inline-flex;
    padding:10px;
}
li{
    padding:10px;
    border-style: double;
    width: max-content;
}
a{
    text-decoration: none;
    color:black;
}